<div>
  <input
    [(ngModel)]="newAppointmentTitle"
    placeholder="Appointment description"
    type="text"
  />
  <input
    [(ngModel)]="newAppontmentDate"
    placeholder="Appointment date"
    type="date"
  />
  <button (click)="addAppointment()">Add</button>
</div>
<ul>
  <li *ngFor="let appointment of appointments; index as i">
    {{ appointment.id }} {{ appointment.title }}
    {{ appointment.date | date : "dd.MM.yyyy" }}
    <button (click)="deleteAppointment(i)">Delete</button>
  </li>
</ul>
